/*
@media (max-width:1000px){
  .top-wrapper{
    width:100%;
    text-align:center;
  }
  .main{
    width:100%;
    text-align:center;
  }
}
@media (max-width:400px){
  .top-wrapper{
    width:400px;
    text-align:center;
    position:static;
  }
  .container{
    position:static;
  }
  .main{
    width:100%;
    text-align:center;
  }
}
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

ul.menu{
  text-align:center;
}
li.list {
  list-style: none;
  color:#fff;
  display:inline-block;
  position:relative;
  transition:all 0.5s;
}
ul.menu_second {
  opacity:0;
  list-style:none;
  display:inline-block;
  position:absolute;
  top:40px;
  left:-1px;
  width:100%;
  transition:all 0.6s;
}
li.list:hover ul.menu_second{
  opacity:1;
  background-color: rgba(34,49,52,0.8);
}
li.list_second{
  font-size:10px;
  width:100%;
}


.header{
  background-color:rgba(34,49,52,0.8);
  height:40px;
  width:100%;
  position:fixed;
  z-index:10;
}
.header-list li{
  float:left;
  padding:33px 20px;
}
.menu{
  padding-right:10px;
  text-align:center;
  height:40px;
}
.menu a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu a{
  color:white;
  line-height:40px;
  padding:0px 30px 0px 30px;
  opacity:0.6;
  display: inline-block;
  transition:all 0.5s;
  text-decoration:none;
}
.top-wrapper {
  height:500px;
  width:100%;
  background-color:#0099cc;
  color:#fff;
  position:relative;
}
*/
.jumbotron {
  background-color:#0099cc;
  color:white;
  height:380px;
}

/*
.container {
  position:absolute;
  top:130px;
  left:120px;
}

.container h1{
  font-size:75px;
}


.container p{
  font-size:30px;
  opacity:0.8;

}
*/
.jumbotron h1{
  font-size:70px;
}
.jumbotron p{
  font-size:25px;
  opacity:0.8;
}
.dropdown-item {
  color:white;
}
/*
.main{
  width:100%;
  padding:60px 60px;
}
*/

.copy-container span{
  color:#ff4a4a;
}
.copy-container h2{
  font-size:35px;
  padding-top:80px;
  padding-bottom:40px;
  margin-bottom:40px;
  /*text-align:center;*/
  opacity:0.7;
}
.copy-container p{
  font-size:17px;
  line-height:normal;
  /*text-align:center;*/
  opacity:0.8;
}

.copy-container {
  text-align:center;
}
/*
.copy-container img{
  padding:40px 0px 40px 0px;
  display: block;
  margin: auto;
}
*/
/*
.forms{
  width:100%;
  text-align:center;
}
#btn {
  background-color:#42c7c1;
  color:white;
  opacity:0.8;
  margin-top:30px;
  padding:5px 20px;
  border-radius:8px;
  cursor:pointer;
  box-shadow:1px 1px #000000;
}
#btn:hover{
  opacity:1;
}
*/

.results {
    background-color: #F8F8F8;
    /*width: 1100px;*/
    padding:30px 30px 50px 30px;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #ccd7d4;
}
.results h3{
  text-align:center;
  margin:10px 0px 80px 0px;
  font-size:40px;
  opacity:0.5;
}
.results p{
  color: #42c7c1;
  opacity:0.9;
  /*display:inline-block;*/
  font-size:30px;
  font-weight:200;
  margin-top:15px;
}
.results span{
  color:#081825;
  opacity:0.6;
}
.results h4{
  text-align:center;
  opacity:0.5;
  color:#ff0000;
  font-size:30px;
  font-weight:200;
  margin-top:5px;
}
/*
.jumbotron {
  height:385px;
}
*/
.about {
  /*display:inline-block;*/
  text-align:center;
  background-color: #F8F8F8;
  /*width:1000px;*/
  /*margin:auto;*/
  padding:30px 0 30px 0;
  margin:50px 0 50px 0;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #ccd7d4;
}
.about h4{
  font-size:28px;
  color:#42c7c1;
  opacity:0.8;
  margin-bottom:50px;
}
.about p{
  line-height:42px;
  font-size:20px;
  opacity:0.7;
}
.about span{
  color:#ff0000;
}
.container {
  margin-bottom:90px;
}
.col-md4 {
  text-align:center;
}
.btn {
  opacity:0.9;
}
